 .main-search-form {
  position: relative;
  margin: auto;
  width: 35%;
  padding-top: 3%;
  
} 

.not-found {
  margin: auto;
  position: relative;
  margin-top: 5%;
  width: 50%;
  height: 50%;
}
.welcome{
  max-width: 55%;
  margin: auto;
  position: relative;
  margin-top: 10%;
}

.welcome-owner{
  max-width: 55%;
  margin: auto;
  position: relative;
  margin-top: 2%;
}


.main-search-form .form-control {
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  height: 50px;
}

.main-search-form button {
  padding: 10px;
  width: 30%;
  height: 100%;
}

.main-search-form .form-control:focus {
  border-color: black;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: none;
  outline: -webkit-focus-ring-color auto 0px;
}



