.form-signin {
  max-width: 30%;
  padding: 15px;
  margin: auto;
  margin-top: 6%;
  position: relative;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  margin: auto;
}

.form-signin  .form-control:focus {
  border-color: black;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: none;
    outline: -webkit-focus-ring-color auto 0px;
}
